body{
    background-image:url(https://png.pngtree.com/background/20210711/original/pngtree-university-club-recruiting-new-poster-picture-image_1081818.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    height:100%;
    position:relative;
}
.overlay{

    top:0;
    left:0;
    right:0;
    background-color:rgba(0,0,0,0.8);
    bottom:0;
    position:absolute;
    width:100%;
    height:100%;
}
    #nav0{
        font-weight:bold;
        color:white;
        font-size:18px;
        margin-right:10px;
    }
    #nav1{
        font-weight:bold;
        color:white;
        font-size:18px;
        margin-right:10px;
    }
    #nav2{
        font-weight:bold;
        color:white;
        font-size:18px;
        margin-right:10px;
    }
    #nav3{
        font-weight:bold;
        color:white;
        font-size:18px;
        margin-right:10px;
    }
    #clubname{
        font-weight:bold;
        color:black;
    }
    
    #navbar{
        padding:30px;
    }
    #nav0:hover{
        color:white;
        background-color:pink;
        border-radius:20px;
    }
    #nav1:hover{
        color:white;
        background-color:pink;
        border-radius:20px;
    }
    #nav2:hover{
        color:white;
        background-color:pink;
        border-radius:20px;
    }
    #nav3:hover{
        color:white;
        background-color:pink;
        border-radius:20px;
    }
    
    
.gallery{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    margin-left:80px;
    background-size:cover;
}
.card{
    width:240px;
    height:240px;
    margin-left:40px;
    margin-bottom:30px;
    border-top-left-radius:20px;
    border-bottom-right-radius:20px;
    background-color:#cccccc;
}
.card img{
    margin:7px;
    border-top-left-radius:10px;
    border-bottom-right-radius:10px;
    
}
h2{
    color:black;
    margin-left:40px;
    padding:10px;
}
/*
.images{
    margin-left:10px;
    margin-top:13px;
}
*/
h5{
    text-align:center;
}

.logo .unliked{
    width:20px;
    height:20px;
    margin-left:10px;
   
}
.logo .liked{
    width:20px;
    height:20px;
    margin-left:10px;
}
.logo{
    width:5px;
    cursor:pointer;
}
.toggle{
    display:none;
}
.logoimage{
    border-radius:30px;
}
