*{
    margin:0;
    padding:0
}
#header{
    background-color: transparent;
    border-radius: 20px;
}
nav{
    width:100vw;
}

#nav-comp{
    font-weight: 30px;
    color:white;
    font-size: large;
    font-weight: bold;
    margin-right:15px;
}
.logo-img{
    width:6vw;
    height:9vh;
}
#nav-comp:hover{
    color:black;
    background-color: palegoldenrod;
    border-radius: 20px;
}
#comp-div{
    margin:20px;
}
#work{
    font-weight: bold;
    color:maroon;
    padding:10px;
}

@media screen and (min-width:1300px) and (min-height:200px) {
    #footer{
        height:10vh;
        overflow-x: scroll;
    }
}
#img-col{
    width:93%;
}
.logo{
    width:10%;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    gap:10px;
}

.card{
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.card img{
    border-top-left-radius:10px;
    border-bottom-right-radius: 10px;
}
.toggle{
    display:none;
}
#work{
    color:white;
    font-size: 25px;
}
.gallery{
    color:white;
    margin: 30px;
    position: absolute;
    z-index:10
}
body{
    background-image: url("background2.jpeg");
    position: relative; 
    width:100vw;
    height:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.6); /* Adjust the alpha value for the desired level of dimness */
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 103%;
  }