*{
    box-sizing: border-box;
}
body{     

    background-image:url("https://img.freepik.com/premium-photo/old-books-vintage-wood-floor-paper-aged-background-texture_34266-498.jpg?w=740");
    background-size:cover;
    


}



.logo{
    height:5vh;
    width:5vw;
}
#rgukt{
    color:#ffffff;
    font-style:Roboto;
    font-weight:bold;
}
#items,#items1,#items2,#items3{
    
     color:#ffffff;
     font-size: 20px;
     font-weight:bold;
     padding-right: 15px;
     font-style:Roboto;
    
    }

#items:hover,#items2:hover,#items1:hover,#items3:hover{
    color:black;
    background-color:palegoldenrod;
    border-radius:20px;

}

.like_icon{
    height:5vh;
    width:5vw;
}
.image{
    
  width:100%;
}

.head{
    color:white;
    font-weight:bold;
}

.about_para{

    color:#ffffff;

}
.span{
    font-size:20px;
    font-weight:600;
    color:maroon;
}

#gellary_img{
    width:80%;
    height:20%;
}





.contact_detail_head{
        color:white;
        font-size :13px;
        font-family:Roboto;
        font-weight:bold;

}
.contact_detail_head1{

    
    font-size:15px;
    font-family:Roboto;
    font-weight:400;
    color:azure;


    

}


.home_cur_image{

    border-radius:20px;
}
.footer{
    
    width:100vw;
    background-image: linear-gradient(to right,#122129,rgb(82,117,117))
    

    
}

.card-gallery{
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color:#ffffff;

    
}

  
.mem-imag{
    height:200px;    width:200px;
    border-radius:50%;
    border-style:solid;
    border-width:5px;
    border-color:rgba(207, 222, 226, 0.938);
}
.mem-text{
    
    color:#ffffff;
    font-size:25px;


}
.head{
    color:#ffffff;
    font-weight:bold
}

.inner-card-image{
    height:50vh;
    width:30vw;
  
  }

  #margin{
    padding-top:50px;

  }