*{
    margin:0;
    padding:0
}
#header{
    background-color: transparent;
    border-radius: 20px;
}

#nav-comp{
    font-weight: 30px;
    color:white;
    font-size: large;
    font-weight: bold;
    margin-right:15px;
}
.logo-img{
    width:4vw;
    height:10vh;
}
#work img{
    width:20%;
}
#nav-comp:hover{
    color:white;
    background-color:palevioletred;
    border-radius: 20px;
}
#comp-div{
    margin:20px;
}
#work{
    font-weight: bold;
    color:maroon;
    padding:10px;
}
@media screen and (min-width:1300px) and (min-height:200px) {
    #footer{
        height:10vh;
        overflow-x: scroll;
    }
}