*{
    box-sizing: border-box;
    position:relative;
}
body{
    background-image:url("f805152a-03ce-4aed-b7b5-6f273bdd0446.jpeg");
    background-repeat: no-repeat;
    width:100vw;
    height:vh;
    background-size: cover;
    background-position: center center;
    /* display:flex;
    flex-wrap:wrap; */

}
#gallery{
    margin-top: 40px;
    justify-content: space-evenly;
    align-content: center;
}
#card{
     flex-wrap: wrap;
     margin-bottom: 30px;
     box-shadow: 10px 10px  8px black;
     border-radius:20px 0px 20px 0px;
    }
#pic{
        margin: 10px 10px 10px 8px;
        width: 95%;
        border-radius:20px 0 20px 0;
    }
.logo{
        width:10%;
        cursor: pointer;
    } 
.toggle{
        display:none;
        
        
    } 
.overlay{
        background-color:rgba(0,0,0,0.8);
        width:100vw;
        height:100%;
    
    }  